.word_generator {
    border: .5vw #1A1A1A solid;
    box-shadow: none;
    background-color: whitesmoke;
}

.word_container {
    display: flex;
    font-family: "Avenir Next";
    color: #1A1A1A;
    font-size: 5vw;
    margin: 4vw;
}
.topfour_container {
    display: flex;
    flex-direction: column;
    flex: auto;
    text-transform: capitalize;
}
.gen_box {
    display: flex;
    justify-content: center;
    border: .5vw #1A1A1A solid;
    box-shadow: none;
    height: 6.5vw;
    margin: 1vw;
}

.button_new {
    order: -1;
}

.gen_box.adj, .gen_box.nc, .gen_box.na, .gen_box.adv, .gen_box.vb {
    background-color: white;
}
.hd {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
    height: 8vw;
}
.gen_box.hd {
    background-color: lightgray;
    cursor: pointer;
}
.gen_box.hd:hover {
    background-color: darkgrey;
}
.gen_box.hd:active {
    background-color: rgb(63, 63, 63);
    color: white;
}


.word {
    font-size: 4vw;
}
.gen_box.btn {
    background-color: #1A1A1A;
    color: white;
    border: 1vw solid #1A1A1A;
    text-decoration: none;
}
.gen_box.btn:hover {
    text-decoration: underline;
    background-color: #1A1A1A;
}
.adv_desk_view {
    display: none;
}
.desk_btm_container {
    display: none;
}

/* desktop view */
@media (min-width: 768px) {
.word_generator {
    border: none;
    box-shadow: none;
    background-color: whitesmoke;
}

.word_container {
    display: flex;
    flex-direction: column;
    font-size: 2.1vw;
    background-color: none;
    margin: 0;
}
 .topfour_container {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    border: .25vw solid #1A1A1A;
    border-bottom: .25vw dashed #1A1A1A;
    padding: .5vw;
}
 .adj_sect {
    flex: 1;
}
 .nounc_sect {
    flex: 1;
}
 .nouna_sect {
    flex: 1;
}
 .verb_sect {
    flex: 1;
}
 .gen_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25vw #1A1A1A solid;
    box-shadow: none;
    height: 4vw;
    background-color: white;
}
 .word {
    font-size: 1.8vw;
}
 .adv_desk_view {
    display: flex;
    text-transform: capitalize;
    border: .25vw solid #1A1A1A;
    border-top: none;
    padding: .5vw;
}
 .gen_box.adv {
    flex: 1;
}
 .desk_btm_container {
    display: flex;
    justify-content: space-between;
    font-family: "Avenir Next";
    color: #1A1A1A;
    font-weight: bold;
    font-size: 2.1vw;
    margin-top: 1vw;
    height: 4vw;
}
 .desk_btm_btn {
    display: flex;
    flex-basis: 47.5vw;
    justify-content: center;
    align-items: center;
    border: .25vw solid #1A1A1A;
    background-color: #1A1A1A;
    cursor: pointer;
    color: whitesmoke;
}
 .desk_btm_btn:hover {
    text-decoration: underline;
}
 .desk_btm_btn:active {
    background-color: rgb(63, 63, 63);
    color: white;
}
 .adv_sect {
    display: none;
}
 .button_new {
    display: none;
}
 .button_reset {
    display: none;
}
}


/* Small Talk Css*/




.smalltalk_container {
    display: flex;
    flex-direction: column;
    font-family: "Avenir Next";
    color: #1a1a1a;
    border: .6vw #1A1A1A solid;
    background-color: whitesmoke;
}

.generator_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-transform: capitalize;
    margin: 2vw;
  }
  
  .all_ques_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;
    border: .6vw solid #1A1A1A;
    margin-bottom: 2vw;
    background-color: lightgray;
    cursor: pointer;
    font-size: 6vw;
    height: 10vw;
  }

  .all_ques_btn:hover {
    background-color: darkgrey;
  }

  .all_ques_btn:active {
    background-color: black;
    color: whitesmoke;
  }
  
  .ques_box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    border: 0.6vw #1a1a1a solid;
    box-shadow: none;
    min-height: 30vw;
    padding: 2vw;
    background-color: white;
  }
  
  .ques_results {
    font-size: 5vw;
    text-align: center;
  }
  
  hr {
    border-top: .6vw dashed #1A1A1A;
    margin: 1vw 2vw;
  }

  .ques_filter_container {
    display: flex;
    flex-basis: 6vw;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Avenir Next";
    color: #1A1A1A;
    font-weight: bold;
    font-size: 6vw;
    margin: 2vw;
  }
  
  .filter_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .6vw solid #1A1A1A;
    background-color: lightgrey;
    cursor: pointer;
    height: 10vw;
  }

.spr_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .6vw solid #1A1A1A;
    background-color: lightgray;
    cursor: pointer;
    height: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.filter_btn:hover, .spr_btn:hover {
    background-color: darkgrey;
}
.filter_btn:active, .spr_btn:active {
    background-color: #1A1A1A;
    color: whitesmoke;
}

.clear_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .6vw solid #1A1A1A;
    background-color: #1A1A1A;
    color:whitesmoke;
    cursor: pointer;
    height: 10vw;
    margin-top: 2vw;
}
.clear_btn:hover {
    text-decoration: underline;
}
.clear_btn:active {
    text-decoration: underline;
    background-color: #3b3b3b;
}
    
.desktop_clear_btn {
    display: none;
}



  @media (min-width: 768px) {

      .smalltalk_container {
        border: .4vw #1A1A1A solid;
        }

      .all_ques_btn {
        text-decoration: underline;
        border: .4vw solid #1A1A1A;
        margin-bottom: 2vw;
        font-size: 2.8vw;
        height: 6vw;
      }
      .ques_box {
        border: 0.4vw #1a1a1a solid;
        box-shadow: none;
        min-height: 15vw;
        padding: 2vw;
      }
      
      .ques_results {
        font-size: 2.5vw;
        text-align: center;
      }
      
      hr {
        border-top: .4vw dashed #1A1A1A;
        margin: .2vw 2vw;
      }
      
      .ques_filter_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-weight: bold;
        font-size: 2vw;
      }
      
      .filter_btn {
        display: flex;
        border: .4vw solid #1A1A1A;
        background-color: lightgrey;
        cursor: pointer;
        height: 5vw;
        flex: 1;
        margin: none;
      }
    
    .spr_btn {
        display: flex;
        border: .4vw solid #1A1A1A;
        background-color: lightgray;
        cursor: pointer;
        flex: 1;
        height: 5vw;
        margin: 0 2vw 0 2vw;
    }
    
    .filter_btn:hover, .spr_btn:hover {
        background-color: darkgrey;
    }
    .filter_btn:active, .spr_btn:active {
        background-color: #1A1A1A;
        color: whitesmoke;
    }
    
    .clear_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        border: .6vw solid #1A1A1A;
        background-color: #1A1A1A;
        color:whitesmoke;
        cursor: pointer;
        height: 10vw;
        margin-top: 0vw;
    }
    .clear_btn:hover {
        text-decoration: underline;
    }
    .clear_btn:active {
        text-decoration: underline;
        background-color: #3b3b3b;
    }

    .desktop_clear_btn  {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: .4vw solid #1A1A1A;
        background-color: #1A1A1A;
        color:whitesmoke;
        cursor: pointer;
        height: 6vw;
        margin-top: 0vw;
        font-weight: bold;
        font-size: 2.5vw;
    }
    .desktop_clear_btn:hover  {
        text-decoration: underline;
    }
    .desktop_clear_btn:active {
        text-decoration: underline;
        background-color: #3b3b3b;
    }
/* Hide the Mobile Clear button */
    .clear_btn {
        display: none;
    }
}